section.news-sidebar
	.news-sidebar-wrapper
		.news-sidebar-social-network
			.text-gradient-title
				h5 SOCIAL NETWORKS
			ul
				li
					a(href="")
						em.fab.fa-facebook-f
				li
					a(href="")
						em.fab.fa-twitter
					
				li
					a(href="")
						em.fab.fa-pinterest
				li
					a(href="")
						em.fab.fa-youtube
				li
					a(href="")
						em.fab.fa-linkedin-in
				li
					a(href="")
						em.icon.icon-instagram
		.new-sidebar-newsletter
			.text-gradient-title
				h5 NEWSLETTER
			p Do not miss our tips, courses, offers, or events, and find out all that Azulev can offer.
			.subscribe
				.subscribefrm
					input(type="text",placeholder='Writer your email here')
					button Subscribe
						em.lnr.lnr-chevron-right