section.afm-news-head
	.row
		.col-lg-8
			.news-item-main
				.afm-news-image
					a(href="#")
						img(src="./img/news/1.jpg", alt="")
				.afm-news-caption
					time 25/02 /2019
					h2 AZULEV CRUPO IN CEVISAMA
		.col-lg-4
			.news-side-wrapper
				.news-item-side
					.afm-news-image
						a(href="#")
							img(src="./img/news/2.jpg", alt="")
					.afm-news-caption
						time 25/02 /2019
						h2 AZULEV CRUPO IN CEVISAMA
				.news-item-side
					.afm-news-image
						a(href="#")
							img(src="./img/news/2.jpg", alt="")
					.afm-news-caption
						time 25/02 /2019
						h2 AZULEV CRUPO IN CEVISAMA
						