section.contact-map-location
	.showroom-banner-wrapper
		.showroom-banner
			h2 
				span Showroom 
				span HCM city
			p 506/17 Ba Thang Hai, Ward 14,District 10, Ho Chi Minh City.
			p Telephone:
				strong (028) 629 74 629
			p Email:
				a  info@americandoor.com.vn
		.showroom-banner
			h2
				span Showroom 
				span   Can Tho 
			p 506/17 Ba Thang Hai, Ward 14,District 10, Ho Chi Minh City.
			p Telephone: 
				strong (028) 629 74 629
			p Email:
				a info@americandoor.com.vn
				
	.contact-location-wrapper
		.row
			.col-lg-5
				.location-tab-nav
					h2 Office Locations
					ul
						li.active
							a(href="") Ho CHi Minh CITy
						li
							a(href="") Can Tho
		.row
			.col-lg-3
			.col-lg-9
				.location-map-wrapper
					.map-iframe
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5761355338723!2d106.65708663933478!3d10.767113759596851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec7ae1fae81%3A0xff50ef2beb89ff73!2zUGjDuiBUaOG7jSBTdGFkaXVt!5e0!3m2!1sen!2s!4v1561606509724!5m2!1sen!2s', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
