section.afm-gallery-swiper
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.swiper-caption
						h2 The brand bath the solid surface is created
					.swiper-image
						img(src="./img/gallery/1.jpg", alt="")
			.swiper-slide
				.wrapper
					.swiper-caption
						h2 The brand bath the solid surface is created
					.swiper-image
						img(src="./img/gallery/1.jpg", alt="")
			.swiper-slide
				.wrapper
					.swiper-caption
						h2 The brand bath the solid surface is created
					.swiper-image
						img(src="./img/gallery/1.jpg", alt="")
			.swiper-slide
				.wrapper
					.swiper-caption
						h2 The brand bath the solid surface is created
					.swiper-image
						img(src="./img/gallery/1.jpg", alt="")
			.swiper-slide
				.wrapper
					.swiper-caption
						h2 The brand bath the solid surface is created
					.swiper-image
						img(src="./img/gallery/1.jpg", alt="")
			.swiper-slide
				.wrapper
					.swiper-caption
						h2 The brand bath the solid surface is created
					.swiper-image
						img(src="./img/gallery/1.jpg", alt="")
		.navigation-wrapper
			.gallery-prev
				em.lnr.lnr-chevron-left
			.gallery-next
				em.lnr.lnr-chevron-right