seciton.afm-home-collection.section
	.swiper-container
		.swiper-wrapper
			.swiper-slide(data-name='Thaddus')
				.wrapper
					.swiper-imge.home-collection-image-wrapper
						img(src="./img/home/s2.jpg")
						img(src="./img/home/s2.jpg")
			.swiper-slide(data-name='Bamboo')
				.wrapper
					.swiper-imge.home-collection-image-wrapper
						img(src="./img/home/s3.jpg")
						img(src="./img/home/s3.jpg")
			.swiper-slide(data-name='Vintage')
				.wrapper
					.swiper-imge.home-collection-image-wrapper
						img(src="./img/home/s1.jpg")
						img(src="./img/home/s1.jpg")
			.swiper-slide(data-name='Imagine')
				.wrapper
					.swiper-imge.home-collection-image-wrapper
						img(src="./img/home/s4.jpg")
						img(src="./img/home/s4.jpg")
	.home-article-wrapper
		.collection-title.afm-home-article-title
			h2 Collection
		.swiper-pagination.collection-pagination-wrapper
		.svg-link
			a(href="").svg-link-button
				svg(height='1em', width='1em', xmlns='http://www.w3.org/2000/svg')
					rect.svg-link-shape(height='1em', width='1em')
				p.svg-link-title VIEW all collection

