section.gallery-display-item
	.row
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/2.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/3.jpg')
					a(href='./img/gallery/2.jpg')
						.gallery-image
							img(src='./img/gallery/4.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/5.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/6.jpg')
					a(href='./img/gallery/7.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
		.col-sm-6.col-md-4
			.gallery-item
				.lightgallery
					a(href='./img/gallery/1.jpg')
						.gallery-image.gallery-image-fit
							img(src='./img/gallery/2.jpg')
					a(href='./img/gallery/1.jpg')
						.gallery-image
							img(src='./img/gallery/3.jpg')
				.gallery-caption
					h5 the Brand eath
