header.afm-header-cc
	section.afm-header
		.container
			.afm-header-wrap
				.navbrand
					.logo
						img(src="./img/logo.png", alt="")
				.main-nav-wrapper
					ul.main-nav
						li.has-sub
							a About us
							ul.nav-sub
								li
									a(href="#") Who we are
								li
									a(href="#") what we do 
								li
									a(href="#") People
						li.active
							a(href="#")  Process
						li
							a(href="#") Cullection
						li
							a(href="#") gallery
						li
							a(href="#") news
						li
							a(href="#") Contact
			
				.language-wrapper
					ul.language-list
						li.has-sub
							span EN
							ul.nav-sub
								li
									a(href="#") VN
				.mobile-toggle
					em.lnr.lnr-menu


