section.product-others
	h2.product-other-title Other collection
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.swiper-slide
				.product-display-item
					figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa