secttion.about-our-team
	.article-title-about
		h2 Our team
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/people/2.jpg", alt="")
					.swiper-caption
						h5 Mr nguyen van chung
						p CEO
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/people/3.jpg", alt="")
					.swiper-caption
						h5 MR. NGUYEN HONG THUAN
						p Vice President
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/people/4.jpg", alt="")
					.swiper-caption
						h5 MR. NGUYEN HAI PHONG
						p CEO
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/people/5.jpg", alt="")
					.swiper-caption
						h5 Mr nguyen van chung
						p CEO
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/people/2.jpg", alt="")
					.swiper-caption
						h5 Mr nguyen van chung
						p CEO
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/people/3.jpg", alt="")
					.swiper-caption
						h5 Mr nguyen van chung
						p CEO
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/people/5.jpg", alt="")
					.swiper-caption
						h5 Mr nguyen van chung
						p CEO
	//- .our-team-navigation
	//- 	.navigation-prev.team-navigation-prev
	//- 		em.lnr.lnr-chevron-left
	//- 	.navigation-next.team-navigation-next
	//- 		em.lnr.lnr-chevron-right