section.afm-time-line
	.row.time-line-wrapper
		.col-lg-6.time-line-item
			.time-line-image
				img(src="./img/process/1.jpg", alt="")
			.time-line-caption
				h2 CHOOSE MATERIALS
				p Starting the process to produce wooden furniture is the step of selecting materials. This is an important stage because good wood materials can create quality tables and chairs, which are highly priced in the market.
			span 1
		.col-lg-6.time-line-item
			.time-line-image
				img(src="./img/process/2.jpg", alt="")
			.time-line-caption
				h2 CHOOSE MATERIALS
				p Starting the process to produce wooden furniture is the step of selecting materials. This is an important stage because good wood materials can create quality tables and chairs, which are highly priced in the market.
			span 2
		.col-lg-6.time-line-item
			.time-line-image
				img(src="./img/process/3.jpg", alt="")
			.time-line-caption
				h2 Ripping wood
				p Starting the process to produce wooden furniture is the step of selecting materials. This is an important stage because good wood materials can create quality tables and chairs, which are highly priced in the market.
			span 3
		.col-lg-6.time-line-item
			.time-line-image
				img(src="./img/process/4.jpg", alt="")
			.time-line-caption
				h2 product machining
				p Starting the process to produce wooden furniture is the step of selecting materials. This is an important stage because good wood materials can create quality tables and chairs, which are highly priced in the market.
			span 4

		.col-lg-6.time-line-item
			.time-line-image
				img(src="./img/process/5.jpg", alt="")
			.time-line-caption
				h2 docking of parts
				p Starting the process to produce wooden furniture is the step of selecting materials. This is an important stage because good wood materials can create quality tables and chairs, which are highly priced in the market.
			span 5
		.col-lg-6.time-line-item
			.time-line-image
				img(src="./img/process/6.jpg", alt="")
			.time-line-caption
				h2 finishing products
				p Starting the process to produce wooden furniture is the step of selecting materials. This is an important stage because good wood materials can create quality tables and chairs, which are highly priced in the market.
			span 6
		.col-lg-6.time-line-item
			.time-line-image
				img(src="./img/process/6.jpg", alt="")
			.time-line-caption
				h2 finishing products
				p Starting the process to produce wooden furniture is the step of selecting materials. This is an important stage because good wood materials can create quality tables and chairs, which are highly priced in the market.
			span 7
