section.news-display-item-wrapper
	.row
		.col-lg-6
			.news-wrapper
				.news-item-list
					.news-image-list
						a(href="#")
							img(src="./img/news/3.jpg", alt="")
					.news-caption
						time 25/02/2019
						h5
							a(href="#") Tiles of excellent quality distinguish Azulev Grupo in Cersaie Azulev Grupo's new tile collections stand out
			.news-wrapper
				.news-item-list
					.news-image-list
						a(href="#")
							img(src="./img/news/3.jpg", alt="")
					.news-caption
						time 25/02/2019
						h5
							a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed minus eum ex accusantium deleniti necessitatibus, dolore commodi quisquam totam perferendis veniam voluptatibus laborum asperiores, quibusdam fugiat labore, consectetur facere ducimus!
			.news-wrapper
				.news-item-list
					.news-image-list
						a(href="#")
							img(src="./img/news/3.jpg", alt="")
					.news-caption
						time 25/02/2019
						h5
							a(href="#") Tiles of excellent quality distinguish Azulev 
		.col-lg-6
			.news-wrapper
				.news-item-list
					.news-image-list
						a(href="#")
							img(src="./img/news/3.jpg", alt="")
					.news-caption
						time 25/02/2019
						h5
							a(href="#") Tiles of excellent quality distinguish Azulev Grupo 


			.news-wrapper
				.news-item-list
					.news-image-list
						a(href="#")
							img(src="./img/news/3.jpg", alt="")
					.news-caption
						time 25/02/2019
						h5
							a(href="#") Tiles of excellent quality distinguish Azulev Grupo in Cersaie Azulev Grupo's new tile collections stand out
			.news-wrapper
				.news-item-list
					.news-image-list
						a(href="#")
							img(src="./img/news/3.jpg", alt="")
					.news-caption
						time 25/02/2019
						h5
							a(href="#") Tiles of excellent quality distinguish Azulev

