section.afm-about-us
	article.row
		.col-12.col-lg-5
			img(src="./img/about/1.jpg", alt="")
		.col-12.col-lg-5.offset-2
			h2 If the Azulev Group has become a world reference in the ceramic industry is for having done around a very clear idea:
			h2 To improve the lives of people and their environment.
			p We are known for giving personalized and careful attention to our customers and to establish in our midst a constant improvement of production processes primarily focused on protecting the environment, something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
			p Our group stands on four banners bearing the product of ceramic to levels unmatched quality. Are our own internationally recognized brands: Azulev, XLAM, Sanchís and Bath. All of them grant a different meaning to the ceramics of the century.
