section.afm-home-swiper.section
	.container-fluid
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/home/s1.jpg", alt="")
						.swiper-caption
							p.title High quality wood product manufacturing company
							p.caption Vietnam's most luxurious and premium wood product manufacturing company
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/home/s1.jpg", alt="")
						.swiper-caption
							p.title AMERICAN HOSPITALITY
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/home/s1.jpg", alt="")
						.swiper-caption
							p.title Get your inspiration and bring it to reality
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/home/s1.jpg", alt="")
						.swiper-caption
							p.title Technology at the service of design
			.swiper-pagination.home-pagination
			.raton-wrapper
				.raton
					.raton__scroll

