seciton.afm-home-process.section
	.container-fluid
		.container
			.row
				.col-lg-6
					.home-article-wrapper-2
						h2 Process
						p.capion From beginning to end, wood material source is at the forefront of our process. American Hospitality can always be counted on to deliver and install quality manufactured casegoods and seating -- on time and with the utmost care.
						.svg-link
							a(href="").svg-link-button
								svg(height='1em', width='1em', xmlns='http://www.w3.org/2000/svg')
									rect.svg-link-shape(height='1em', width='1em')
								p.svg-link-title Discover more about our process

