seciton.afm-home-about-us.section
	.container-fluid
		.container
			.row
				.col-lg-6
					.home-article-wrapper-2
						h2 About us
						p.capion As a leading partner of many reputable businesses, American Hospitality is constantly developing advanced production equipment, modern wood production technology of the US and sustainable sources of green wood. In order to produce the best quality products, diversified designs and reasonable prices for all customer requirements.
						.svg-link
							a(href="").svg-link-button
								svg(height='1em', width='1em', xmlns='http://www.w3.org/2000/svg')
									rect.svg-link-shape(height='1em', width='1em')
								p.svg-link-title Discover more about our process

