section.what-we-do-article
	.row
		.col-lg-4
			.article-title-about
				h2 What we do
			article
				p We are known for giving personalized and careful attention to our customers and to establish in our midst a constant improvement of production processes primarily focused on protecting the environment, something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
				p Our group stands on four banners bearing the product of ceramic to levels unmatched quality. Are our own internationally recognized brands: Azulev, XLAM, Sanchís and Bath. All of them grant a different meaning to the ceramics of the century. We are known for giving personalized and careful attention to our customers and to establish.
				p Something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
		.col-lg-7.offset-1
			article
				img(src="./img/people/1.jpg", alt="")
