secttion.about-us-tab-information
	.about-tab
		ul.introduce-information-tab
			li.active
				a(href="#") DESIGN
			li
				a(href="#") production
			li
				a(href="#") innovation
			li
				a(href="#") Service
	.about-us-information-wrapper
		.informaton-item-wrapper
			.information-item
				.information-item-image
					img(src="./img/about/3.jpg", alt="")
				.information-caption
					h2 Design
					p With the entrepreneurial spirit that has always characterised us, we have developed the ceramic product in both how it is manufactured and in the aspect that most sets it apart: its Design.
			.information-item
				.information-item-image
					img(src="./img/about/4.jpg", alt="")
				.information-caption
					p Azulev Grupo, in its desire to innovate, always seeks to satisfy the demand for products with high levels of technical and aesthetic quality. The designs in the range allow creating all types of rooms with personality and their own style.
		.informaton-item-wrapper
			.information-item
				.information-item-image
					img(src="./img/about/3.jpg", alt="")
				.information-caption
					h2 Design
					p With the entrepreneurial spirit that has always characterised us, we have developed the ceramic product in both how it is manufactured and in the aspect that most sets it apart: its Design.
			.information-item
				.information-item-image
					img(src="./img/about/4.jpg", alt="")
				.information-caption
					p Azulev Grupo, in its desire to innovate, always seeks to satisfy the demand for products with high levels of technical and aesthetic quality. The designs in the range allow creating all types of rooms with personality and their own style.
		.informaton-item-wrapper
			.information-item
				.information-item-image
					img(src="./img/about/3.jpg", alt="")
				.information-caption
					h2 Design
					p With the entrepreneurial spirit that has always characterised us, we have developed the ceramic product in both how it is manufactured and in the aspect that most sets it apart: its Design.
			.information-item
				.information-item-image
					img(src="./img/about/4.jpg", alt="")
				.information-caption
					p Azulev Grupo, in its desire to innovate, always seeks to satisfy the demand for products with high levels of technical and aesthetic quality. The designs in the range allow creating all types of rooms with personality and their own style.
		.informaton-item-wrapper
			.information-item
				.information-item-image
					img(src="./img/about/3.jpg", alt="")
				.information-caption
					h2 Design
					p With the entrepreneurial spirit that has always characterised us, we have developed the ceramic product in both how it is manufactured and in the aspect that most sets it apart: its Design.
			.information-item
				.information-item-image
					img(src="./img/about/4.jpg", alt="")
				.information-caption
					p Azulev Grupo, in its desire to innovate, always seeks to satisfy the demand for products with high levels of technical and aesthetic quality. The designs in the range allow creating all types of rooms with personality and their own style.

