extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'gallery'

block main
	section.section-header
		.container-fluid
			.container
				include ../components/breadcrumb/index.pug
				include ../components/gallery/gallery-swiper/index.pug
				include ../components/gallery/gallery-item/index.pug