extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'process'

block main
	section.section-header
		.container-fluid
			.container
				include ../components/breadcrumb/index.pug
				include ../components/process/index.pug
				