section.about-us-swiper
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/about/2.jpg", alt="")
					.swiper-caption
						time 2018
						h3 A new Production Plant in Onda begins work
						p With cutting-edge Technology, a new era of Production in which we begin to manufacture Porcelain Stoneware
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/about/2.jpg", alt="")
					.swiper-caption
						time 2018
						h3 A new Production Plant in Onda begins work
						p With cutting-edge Technology, a new era of Production in which we begin to manufacture Porcelain Stoneware
		.about-us-navigation
			.navigation-prev.about-us-prev
				em.lnr.lnr-chevron-left
			.navigation-next.about-us-next
				em.lnr.lnr-chevron-right
