section.trinity-item-rotate
	.rotate-title
		p Description
	.item-rotate
		.item-image
			img(src="./img/about/1.png", alt="")
		.item-text
			h5 AFM
			p Commitment to the environment has become one of the marks of our identity.  For this, we have been given awards and become certified on numerous occasions by internationally recognised Quality Accreditation entities.

		.item-image
			img(src="./img/about/2.png", alt="")