.product-sidebar-filter
	.rotate-title
		p Filter
	ul.product-sidebar-list
		li.has-sub
			span USE
			.nav-sub
				a(href="#") Popular
				a(href="#") Best Sell
		li.has-sub
			span Body Type
			.nav-sub
				a(href="#") Popular
				a(href="#") Best Sell
		li.has-sub
			span Formats
			.nav-sub
				a(href="#") Popular
				a(href="#") Best Sell
		li.has-sub
			span Style
			.nav-sub
				a(href="#") Popular
				a(href="#") Best Sell
		li.has-sub
			span Aesthetic feature
			.nav-sub
				a(href="#") Popular
				a(href="#") Best Sell
		li.has-sub
			span finish
			.nav-sub
				a(href="#") Popular
				a(href="#") Best Sell
		li.has-sub
			span colours
			.nav-sub
				a(href="#") Popular
				a(href="#") Best Sell
	