section.we-do-swiper
	.rotate-title
		p OUR PHOTOS
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper.row
					.swiper-image.col-lg-8
						img(src="./img/field/2.jpg", alt="")
					.swiper-caption.col-lg-4
						h2 chonk filtering and logging
						p Customers and to establish in our midst a constant improvement of production processes primarily focused on protecting the environment, something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
						p Our group stands on four banners bearing the product of ceramic to levels unmatched quality. Are our own internationally recognized brands: Azulev, XLAM, Sanchís and Bath. All of them grant a different meaning to the ceramics of the century.
			.swiper-slide
				.wrapper.row
					.swiper-image.col-lg-8
						img(src="./img/field/2.jpg", alt="")
					.swiper-caption.col-lg-4
						h2 chonk filtering and logging
						p Customers and to establish in our midst a constant improvement of production processes primarily focused on protecting the environment, something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
						p Our group stands on four banners bearing the product of ceramic to levels unmatched quality. Are our own internationally recognized brands: Azulev, XLAM, Sanchís and Bath. All of them grant a different meaning to the ceramics of the century.
			.swiper-slide
				.wrapper.row
					.swiper-image.col-lg-8
						img(src="./img/field/2.jpg", alt="")
					.swiper-caption.col-lg-4
						h2 chonk filtering and logging
						p Customers and to establish in our midst a constant improvement of production processes primarily focused on protecting the environment, something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
						p Our group stands on four banners bearing the product of ceramic to levels unmatched quality. Are our own internationally recognized brands: Azulev, XLAM, Sanchís and Bath. All of them grant a different meaning to the ceramics of the century.
			.swiper-slide
				.wrapper.row
					.swiper-image.col-lg-8
						img(src="./img/field/2.jpg", alt="")
					.swiper-caption.col-lg-4
						h2 chonk filtering and logging
						p Customers and to establish in our midst a constant improvement of production processes primarily focused on protecting the environment, something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
						p Our group stands on four banners bearing the product of ceramic to levels unmatched quality. Are our own internationally recognized brands: Azulev, XLAM, Sanchís and Bath. All of them grant a different meaning to the ceramics of the century.
	.we-do-navigation
		.we-do-prev
			em.lnr.lnr-chevron-left
		.we-do-next
			em.lnr.lnr-chevron-right
