section.afm-product-display
	.afm-product-display-wrapper
		.row
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
								img(src="./img/product/1.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
							img(src="./img/product/4.jpg", alt="")
					.figure-caption
						p BIanco lasa
			
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
							img(src="./img/product/3.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
							img(src="./img/product/5.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
							img(src="./img/product/6.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
							img(src="./img/product/7.jpg", alt="")
					.figure-caption
						p BIanco lasa
			
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
							img(src="./img/product/8.jpg", alt="")
					.figure-caption
						p BIanco lasa
			.col-md-6.col-lg-4.product-display-item
				figure
					.figure-image
						a(href="#")
							img(src="./img/product/9.jpg", alt="")
					.figure-caption
						p BIanco lasa