section.afm-home-discount.section
	.container-fluid
		.container
			.row
				.col-lg-6
					.home-article-wrapper-2
						h2 SAVE up to 50%
						p.discount Made from the best materials with a long-time skill team, our products are exquisite to every pattern, are highly appreciated by many reputable partners.
				.col-lg-6
					.tilt-wrapper
						a(href="#").tilt-item-wrapper
							.item-3d(data-tilt='')
								img(src="./img/svg/sofa.svg", alt="")
								.item-overlay
								.titl-shine
								span.shadow-layer
						a(href="#").tilt-item-wrapper
							.item-3d(data-tilt='')
								img(src="./img/svg/bed.svg", alt="")
								.item-overlay
								.titl-shine
								span.shadow-layer
						a(href="#").tilt-item-wrapper
							.item-3d(data-tilt='')
								img(src="./img/svg/wardrobe.svg", alt="")
								.item-overlay
								.titl-shine
								span.shadow-layer
						a(href="#").tilt-item-wrapper
							.item-3d(data-tilt='')
								img(src="./img/svg/desk-chair.svg", alt="")
								.item-overlay
								.titl-shine
								span.shadow-layer
