section.news-other-swiper
	h2.other-news-title News other

	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.news-item-list
						.news-image-list
							a(href="#")
								img(src="./img/news/3.jpg", alt="")
						.news-caption
							time 25/02/2019
							h5
								a(href="#") Tiles of excellent quality distinguish Azulev
			.swiper-slide
				.wrapper
					.news-item-list
						.news-image-list
							a(href="#")
								img(src="./img/news/3.jpg", alt="")
						.news-caption
							time 25/02/2019
							h5
								a(href="#") Tiles of excellent quality distinguish Azulev
			.swiper-slide
				.wrapper
					.news-item-list
						.news-image-list
							a(href="#")
								img(src="./img/news/3.jpg", alt="")
						.news-caption
							time 25/02/2019
							h5
								a(href="#") Tiles of excellent quality distinguish Azulev
			.swiper-slide
				.wrapper
					.news-item-list
						.news-image-list
							a(href="#")
								img(src="./img/news/3.jpg", alt="")
						.news-caption
							time 25/02/2019
							h5
								a(href="#") Tiles of excellent quality distinguish Azulev
			.swiper-slide
				.wrapper
					.news-item-list
						.news-image-list
							a(href="#")
								img(src="./img/news/3.jpg", alt="")
						.news-caption
							time 25/02/2019
							h5
								a(href="#") Tiles of excellent quality distinguish Azulev