section.news-details-article
	article
		time 25/02/ 2019
		.sub-title Tiles of excellent quality distinguish Azulev Grupo in Cersaie
		.full-content
			p For its stand at the 2018 Salone del Mobile, turned to acclaimed multidisciplinary design duo GamFratesi. The brief? To develop a minimalist architecture that brought to mind, both in colors and textures, the experience of being out in the wild, yet somehow still at home.s
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laborum enim eaque magni, hic repellat aliquid mollitia necessitatibus, culpa eum inventore tempore adipisci ab excepturi officiis temporibus pariatur quisquam perferendis!GamFratesi responded with a light-filled space that’s natural and serene. The central volume, which runs the depth of the stand, is characterized by a high ceiling, clean lines and a large back-lit ‘window’ that evokes the warmth of natural light. Narrower volumes on either side create small but airy exhibiting spaces. has been a platform for bringing people together since the beginning, and the long wooden table that runs through the heart of the stand seems to echo that message: You can sit there as 20 people or as two. Whatever the number, it’s about a shared experience. Arrayed all around the long table are GamFratesi’s new AIIR shell chairs first collection to feature injection-molded seating, AIIR comes in armchair and side chair versions, both with tapered teak legs. Designed for outdoor and indoor use, AIIR is presented as a mid-season launch. Stand also offers a preview of BREA by Barber and Osgerby, a super-comfortable lounge system that can be used both, outdoors and in. 
			img(src="./img/news/1.jpg", alt="")
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laborum enim eaque magni, hic repellat aliquid mollitia necessitatibus, culpa eum inventore tempore adipisci ab excepturi officiis temporibus pariatur quisquam perferendis!
	.article-social-network
		.social-wrapper
			.fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button', data-size='small')
				a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse') Share
		.social-wrapper
			a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Hello%20world', data-size='large')
				| Tweet
		.social-wrapper
			script(type='IN/Share', data-url='https://www.linkedin.com').
		.social-wrapper
			a(href='https://www.pinterest.com/pin/create/button/', data-pin-do='buttonBookmark')


